<link rel="stylesheet" type="text/css" href="components/Target/target.css"/>
<div class="target">
  <span style="font-weight: 700; position: relative; top: 5%;">{{done}} из {{target}} </span> <span
        style="font-weight: 400; position: relative; top: 5%;">{{targettype}}</span>
  <div class="progress-bar">
    <div style="width: {{doneproc}}%;" class="progress-bar-done"></div>
    <div style="width: {{leftproc}}%;" class="progress-bar-remains"></div>
  </div>
  <div class="target-text">{{targettext}}</div>
  <button class="day-deneg-btn">Пожертвовать</button>
</div>