<div class="post-edit">
    <div id ="back"><- Назад</div>

    {{#if new}}
        <h2>Новый пост</h2>
    {{else}}
        <h2>Редактирование поста</h2>
    {{/if}}

    <div class="post-edit-grid">
        <div class="post-params">
            <h3>Пост</h3>
            <table class="attach-variants">
                <td>Фото</td>
                <td>Видео</td>
                <td>Файл</td>
                <td>Аудио</td>
            </table>
            <input type="text" class="post-theme" placeholder="Введите заголовок поста" id="theme">
            <textarea class="post-description" id="text">Текст поста</textarea>


            <div class="tags">
                <h3>Теги поста</h3>
                <input type="text" class="tag-input" placeholder="Введите тэги через проблем" id="tags">
            </div>

            <div class="buttons">
                <button class="save-profile-button common-button" id="publish">Опубликовать</button>

                {{#if new}}
                    <button class="delete-profile-button common-button" id="now">
                        <img src="icons/musorka.svg">
                        Сейчас
                    </button>
                {{else}}
                    <button class="delete-profile-button common-button" id="delete">
                        <img src="icons/musorka.svg">
                        Удалить
                    </button>
                {{/if}}
            </div>
        </div>
        <div class="subs-list">

            <div class="av-subscriptions">
                <h3>Кто может смотреть</h3>
                <div class = 'target-separator'></div>
                <div class="sub_variant">
                    <input type="radio" id="all" name="sub_variant" value="0" checked />
                    <label for="all">Доступно всем</label>
                </div>

                {{#each sub_levels}}
                    <div class="sub_variant">
                        <input type="radio" id="{{@index}}level" name="sub_variant" value="{{this.level}}">
                        <label for="{{@index}}level">{{@index}} уровень подписки</label>
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>