<div class="post">
    <div class="post-lock-and-date">
        <span>{{access}}</span>
        {{#if isOwner}}
            <img src="icons/post_opts.svg" class="post_opts" data-post="{{id}}">
        {{/if}}
        <span style="float: right; margin-right: 1vh;">{{creation_date}}</span>
    </div>
    {{#if isOwner}}
        <div id="submenu-{{id}}" class="submenu-post" style="display: none;">
            <div id="edit_post_button" style="padding: 1vh;">Редактировать пост</div>
            <div class=".delete_post_button" style="padding: 1vh;" data-post="{{id}}">Удалить пост</div>
        </div>
    {{/if}}

    {{#if has_access}}
        <div class="target-separator"></div>

        <div class="unlocked-post">
            <div class="unlocked-post-topic" id="header-{{id}}">
                {{header}}
            </div>
            <div class="unlocked-post-content" id="body-{{id}}">
                {{body}}
            </div>
        </div>

        <div class="tagline" id="tags-{{id}}">
            {{#each tags}}
                <span class="tag">{{this.name}}</span>
            {{/each}}
        </div>

        <div class="target-separator"></div>

    {{else}}
        <div class="locked-post">
            <div class="locked-post-topic">
                {{topic}}
            </div>
            <div class="locked-post-price">{{availability}}</div>
            <button class="common-button buy-post-button">Купить</button>
        </div>
    {{/if}}

    {{#if is_liked}}
        <div class="like-comment-share">
            <span class="like-clicked" id="like-{{id}}">
                <img src="icons/like.svg" style="margin-left: 2%; display:inline" class="like" data-post="{{id}}"
                     data-liked="true">
            </span>
            <span id="likes-{{id}}"> {{likes}}  </span>
            <img src="icons/comment.svg" class="comment-ico" style="display: inline">
            <img src="icons/share.svg" style="float:right; margin-right: 2%;display: inline" class="share">
        </div>
    {{else}}
        <div class="like-comment-share">
            <span class="" id="like-{{id}}">
                <img src="icons/like.svg" style="margin-left: 2%; display:inline" class="like" data-post="{{id}}"
                     data-liked="false">
            </span>
            <span id="likes-{{id}}"> {{likes}}  </span>
            <img src="icons/comment.svg" class="comment-ico" style="display: inline">
            <img src="icons/share.svg" style="float:right; margin-right: 2%; display: inline" class="share">
        </div>
    {{/if}}

    {{#if has_access}}
        <div class="comments-sections">
            {{#each comments}}
                {{>comment this}}
            {{/each}}
        </div>
        <div class="comment-input">
            <div class="input-ava"><img src="img/default-ava.png"></div>
            <div class="comment-field" data-post="{{id}}">
                <input type="text" placeholder="Оставьте комментарий..." class="comment-field">
                <img src="icons/send.svg" id="send-button" class="send_btn">
            </div>
        </div>
    {{/if}}
</div>